<span class="badge badge-default"><i class="fab fa-facebook-f" aria-hidden="true"></i></span>
<span class="badge badge-primary"><i class="fab fa-instagram" aria-hidden="true"></i></span>
<span class="badge badge-success"><i class="fab fa-snapchat-ghost" aria-hidden="true"></i></span>
<span class="badge badge-info"><i class="fas fa-anchor" aria-hidden="true"></i></span>
<span class="badge badge-warning"><i class="far fa-sun" aria-hidden="true"></i></span>
<span class="badge badge-danger"><i class="fas fa-battery-three-quarters" aria-hidden="true"></i></span>
<span class="badge badge-pill pink"><i class="fas fa-wheelchair" aria-hidden="true"></i></span>
<span class="badge badge-pill light-blue"><i class="far fa-heart" aria-hidden="true"></i></span>
<span class="badge badge-pill indigo"><i class="fas fa-bullhorn" aria-hidden="true"></i></span>
<span class="badge badge-pill purple"><i class="far fa-comments" aria-hidden="true"></i></span>
<span class="badge badge-pill orange"><i class="fas fa-coffee" aria-hidden="true"></i></span>
<span class="badge badge-pill green"><i class="fas fa-user" aria-hidden="true"></i></span>
<span class="badge indigo"><i class="fab fa-android fa-2x" aria-hidden="true"></i></span>
<span class="badge cyan"><i class="fas fa-cog fa-2x" aria-hidden="true"></i></span>
<span class="badge orange"><i class="fab fa-btc fa-2x" aria-hidden="true"></i></span>
<span class="badge badge-pill teal"><i class="fas fa-heart fa-2x" aria-hidden="true"></i></span>
<span class="badge badge-pill green"><i class="fab fa-apple fa-2x" aria-hidden="true"></i></span>
<span class="badge badge-pill purple"><i class="fas fa-users fa-2x" aria-hidden="true"></i></span>